.table-hover>tbody>tr:hover {
    background-color: #f4f8fb;
}

table>thead>tr>th {
    border: none !important;
    vertical-align: bottom !important;
}

table>tbody>tr>td {
    border-bottom: 1px solid #ccc;
}

.datatable {
    margin-bottom: 40px;
    overflow-x: visible !important;
}

.datatable-filter th {
    font-weight: normal;
    padding: 7px 10px 2px !important;
    background-color: #ecf6fb;
    border-top: solid 1px #a0d0eb !important;
    border-bottom: solid 1px #a0d0eb !important;
    vertical-align: top !important;
}

.datatable-filter th input,
.datatable-filter th select {
    border: solid 1px #a0d0eb;
    margin-bottom: 5px;
}

.datatable-filter th input:focus,
.datatable-filter th select:focus {
    border: solid 1px #a0d0eb;
}

.datatable-action-container {
    display: -webkit-inline-box;
}

.datatable-export-container {
    display: -webkit-inline-box;
    vertical-align: bottom;
}

.datatable-export-container button,
.datatable-export-container a {
    font-size: 12px;
}

.datatable-export-container .dropdown-menu {
    min-width: 120px;
}

.datatable-selection th {
    font-size: 11px;
    font-weight: normal;
    padding: 0px 0px 5px !important;
}

.datatable-selection th.action {
    text-align: right;
}

.datatable-selection th>a {
    color: #66bcec;
    padding: 0 5px;
    border-right: 1px solid #777;
}

.datatable-selection .form-group {
    margin-bottom: 0;
}

.datatable-selection .bootstrap-select.btn-group .btn .filter-option,
.datatable-selection .bootstrap-select.btn-group .dropdown-menu {
    font-size: 11px;
}

.datatable-selection .bootstrap-select>.btn {
    width: 100%;
    min-width: 102px;
    padding-bottom: 3px;
}

#selected_items {
    font-weight: bold;
}

.datatable-paging th {
    font-size: 12px;
    font-weight: normal;
    padding: 5px 7px 15px !important;
}

.datatable-paging label {
    text-align: left;
    position: relative;
    top: 6px;
}

.datatable-paging label.total-records {
    margin-right: 10px;
}

.datatable-paging .datatable-action-container {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid black;
}

.datatable-paging .paging {
    width: 35px;
    padding: 3px;
    margin: 0 4px !important;
    line-height: 10px;
    height: 30px;
    text-align: center;
}

.datatable-paging .btn-icon {
    padding: 4px 2px !important;
    color: #00aff0;
}

.datatable-paging .disabled {
    color: #AAA;
}

.datatable-paging .input-group {
    margin: 0 10px;
}

.datatable-paging .form-group {
    margin: 0 5px;
}

.datatable-paging .input-group-btn {
    width: auto;
}

.datatable-paging .bootstrap-select>.btn {
    width: 100%;
    padding-right: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.datatable-paging .bootstrap-select.btn-group .btn .caret {
    right: 6px;
}

.datatable-paging th.action {
    text-align: right;
}

.datatable-column-name th {
    padding: 12px 0 12px 12px!important;
    border-top: solid 1px #a0d0eb !important;
    border-bottom: solid 1px #a0d0eb !important;
}

.datatable-column-name a {
    color: black;
}

.datatable-column-name a:hover {
    color: #2196f3;
}

.datatable-btn-search:hover {
    background-color: #2196f3;
    border-color: #0076d4;
    color: white;
}

.datatable-btn-reset {
    margin-top: 5px;
    color: white;
    background-color: #fbbb22;
    border-color: #fbb309;
    display: none;
}

.datatable-btn-reset:hover,
.datatable-btn-reset:focus,
.datatable-btn-reset:active,
.datatable-btn-reset:active:focus {
    color: white;
    background-color: #e6a304;
    border-color: #c38a04;
}

.data-align-left {
    text-align: left;
}

.data-align-center {
    text-align: center;
}

.data-align-right {
    text-align: right;
}

.datatable-column-sort {
    display: none;
}

.datatable-column-sort.enable {
    display: inline;
}

.datatable-datepicker {
    margin-bottom: 5px;
}

.datatable-datepicker>.input-group-addon {
    border-top: 1px solid #a0d0eb;
    border-right: 1px solid #a0d0eb;
    border-bottom: 1px solid #a0d0eb;
    padding: 7px;
}

.datatable-datepicker-input {
    font-size: 12px;
    padding: 5px;
}

.calendars table>thead>tr>th {
    vertical-align: middle !important;
}

.calendars table>tbody>tr>td {
    border: none !important;
}

select.ui-datepicker-month,
select.ui-datepicker-year {
    height: 30px;
    font-size: 14px !important;
    font-weight: normal !important;
    color: black !important;
    border: 0;
    outline: 1px solid #CCC;
    background-color: white
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    top: 15px;
}

.ui-datepicker table td.ui-datepicker-current-day .ui-state-active {
    background-color: #999;
}

td.datatable-action-single {
    padding-right: 5px !important;
}

td.datatable-action-single i {
    font-size: 11px;
}

td.datatable-action-single .action-single-main-button {
    padding: 5px 8px;
}

td.datatable-action-single .dropdown-toggle {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

td.datatable-action-single .dropdown-toggle:hover {
    background-color: #2196f3;
    border-color: #2196f3;
    color: #fff;
}

td.datatable-action-single .dropdown-menu>li>a:hover,
td.datatable-action-single .dropdown-menu>li>a:focus {
    background-color: #2196f3;
    color: #fff;
}

.datatable-search-field.form-control.number-only {
    font-size: 11px;
    padding: 5px;
    text-align: center;
    max-width: 50px;
    margin-left: auto;
    margin-right: auto;
}

#datatable_modal_confirm hr,
#datatable_modal_confirm_action_single hr,
#datatable_modal_notification hr {
    margin-top: 10px;
    margin-bottom: 10px;
}